
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Trang Chủ</a></li>
                <li class="active">Tài Khoản</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--account-starts-->
<div class="account">
    <div class="container">
        <div class="account-top heading">
            <h2>Tài khoản</h2>
        </div>
        <div class="account-main">
            <div class="col-md-6 account-left">
                <h3>Thoát</h3>
                <div class="account-bottom">
                    <input placeholder="Email" type="text" tabindex="3" required>
                    <input placeholder="Password" type="password" tabindex="4" required>
                    <div class="address">
                        <a class="forgot" href="#">Quên mật khẩu ?</a>
                        <input type="submit" value="Login">
                    </div>
                </div>
            </div>
            <div class="col-md-6 account-right account-left">
                <h3>Bạn là người mới hãy tạo tài khoản ngay !</h3>
                <p>Đăng ký tài khoản để thoả ga mua sắm và quản lý thông tin của bạn một cách dễ dàng.</p>
                <a href="~/Home/Register">Tạo tài khoản ngay</a>
                <a href="~/Home/Register">Tạo tài khoản ngay</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--account-end-->
