@using SHOPVANGBAC.Common

@{ 
    var session = (UserLogin)Session[CommonConstands.USER_SESSION];
}

@if (session == null)
{
    <li class="grid">
        <a href="~/dang-nhap">Đăng nhập</a>
        <a href="~/dang-ky">Đăng Ký</a>
        <div class="clearfix"> </div>
    </li>
}
else
{
    <div>
        <span><a href="#">Xin Chào: @session.UserName</a></span>
        <span><a href="~/Account/Logout">Đăng xuất</a></span>
        <div class="clearfix"> </div>
    </div>
}
